* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

body {
  background-color: black;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-attachment: static;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; /* keeps it above other content */
  background-color: black; /
}

.logo {
  height: 52px;
  width: 50px;
}

.nav-links ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-btn a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* .Hero {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
} */

.Hero {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.hero-txt {
  margin-top: -100px;
  left: 100px;
  position: relative;
}

h1 {
  width: 350px;
  /* font-family: inter; */
  font-size: 60px;
  font-style: medium;
  font-weight: 500;
  line-height: 103.7px;
  letter-spacing: 0%;
  text-align: right;
}

.hero-small-write-up {
  display: flex;
  gap: 20px;
  padding: 20px;
  align-items: center;
  justify-items: center;
  position: relative;
  top: -200px;
}

.hero-small-write-up-txt {
  width: 342.67px;
  height: 50px;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0%;
  color: FFFFFF;
}

.hero-img {
  width: 800px;
  margin: auto;
  margin-top: 100px;
}

.clients {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.clients p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}

.clients img {
  max-width: 100%;
  height: auto;
  display: block;
}

.intro {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  margin-top: 200px;
}

.intro-write-up {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 540px;
}

.intro-write-up h2 {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0%;
}

.intro-write-up p {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}

.Projects {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 200px;
}

h2 {
   font-size: 60px;
  font-style: medium;
  font-weight: 500;
  line-height: 103.7px;
  letter-spacing: 0%;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-items: center;
  max-width: 1200px;
  margin: auto;
}

.flex-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-items: center;
}

.flex-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-items: center;
}

.flex-img-1 {
  width: 580px;
  height: 429.89px;
}

.flex-img-2 {
  width: 580px;
  height: 409.31px;
}

.flex-img-3 {
  width: 580px;
  height: 172.8px;
}

.flex-img-4 {
  width: 580px;
  height: 677.55px;
}

.flex-img-5 {
  width: 580px;
  height: 332.73px;
}

.other-projects {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 200px;
}

.other-projects-flex{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: auto;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.scroll-icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  justify-items: center;
  width: 100%;
  margin: auto;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.Growth{
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}